@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* Ajeitando estilo padrão */ 
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    outline: none;
  }

  /* Ajeitando o corpo da página */ 
  body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,46,101,1) 35%, rgba(236,172,196,1) 100%);
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container{
    width: 460px;
    height: 530px;
    border-radius: 12px;
    flex-direction: column;
    display: flex;
    background-color: white;
    padding: 0px 30px 45px 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.0), 0 6px 6px rgba(0,0,0,0.20);
  }
  
  .header{
    width: 220px;
    padding: 18px;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 25px;
    background-color: white;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.0), 0 6px 6px rgba(0,0,0,0.20);
    color: #C62E65;
    font-size: 20px;
  }

  button{
    padding: 12px;
    font-size: 15px;
    background-color: #C62E65;
    color: white;
    border: 0px;
    border-radius: 12px;
    margin: 20px 0px;
    cursor: pointer;

  }
  
  button:hover{
    color: #430F22;
    background-color: #ECACC4;
    box-shadow: 0 10px 20px rgba(0,0,0,0.0), 0 6px 6px rgba(0,0,0,0.20);
  }

a:link, a:visited,  a:hover, a:active{
    color: white;
    text-decoration: none;
}

.spanRGB{
    padding: 10px 0px;
    font-size: 15px;
    color: #C62E65;
}

.rgbInput{
    padding: 12px;
    border-radius: 10px;
    border: 3px solid #C62E65;
}

.resultCMYK{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #C62E65;
}

p, a href{
  color: #C62E65;
}